* {
    margin: 0;
  }

.link {
    text-decoration: none;
}

.link__logo {
    margin-left: 20px;
    display: flex;
    align-items: center;
}

.link__logo img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.link__logo h2 {
    color: black;
    font-size: 24px;
}