* {
    margin: 0;
  }


.info__tabs {
  /* width: calc(100%-20px); */
  margin-left: 10px;
  margin-right: 10px;
  border: 1px solid lightgray;
  padding: 1rem;
}

.info__tabs__tabpanel {
  padding: 0;
  text-align: center;
}


.info__tabs__body__price {
  margin-top: 2rem;
  color: lightslategray;
}

.info__tabs__body__pricevalue {
  font-size: 1.5rem;
  margin-bottom: 3rem;
}

.info__tabs__body__amount {
  margin-bottom: 1rem;
}

.info__tabs__body_totalprice {
  font-size: 2rem;
  margin-bottom: 2rem;
}