.marketinfo {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.marketinfo__img {
    margin-right: 1rem;
}
  
.marketinfo__content p {
    font-size: 0.8rem;
    margin-top: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* 라인수 */
    -webkit-box-orient: vertical;
    word-wrap:break-word;
    line-height: 1rem;
    height: 2rem;
}