* {
    margin: 0;
  }

  .login__modal__form {
    display: flex;
    flex-direction: column;
  }
  
  .login__modal__form Input {
    margin-top: 20px;
    margin-bottom: 2px;
    width: 100%;
  }
  
  .login__modal__form Button {
    margin-top: 25px;
    font-size: 17px;
    background-color: #1976d2;
    color: white;
  }
  
  .login__modal__form Button:hover {
    color: #1976d2;
  }