* {
  margin: 0;
}

ul {
  padding: 1rem;
}


.main {
  display: flex;
  padding: 1rem;
  height: 80%;
  justify-content: center;
}

@media (max-width: 1200px) {
  .main {
    display: flex;
    padding: 1rem;
    height: 80%;
    justify-content: left;
  }
}

.chart {
  width: 780px;
  min-width: 780px;
  height: cal(100vh-60px);
  background-color: white;
  flex-direction: column;
}

.tab {
  width: 400px;
  min-width: 400px;
}

