* {
    margin: 0;
    font-family: "IBM Plex Sans KR";
  }
  
  .smartTab {
    /* width: calc(100%-20px); */
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid lightgray;
    padding: 1rem;
  }
  
  .smartTab__tabs{
    display: flex;
    text-align: center;
    flex-direction: column;
  }
  
  .smartTab__tabs__tab{
    flex: 0.7;
  }
  
  .smartTab__tabpanel__bs {
    padding: 0;
    text-align: center;
  }
  
  .tab__body__news {
    height: 70vh;
    overflow: auto;
    scrollbar-width: none;
  }
  
  .tab__body__news::-webkit-scrollbar {
    display: none;
  }
  