* {
  margin: 0;
}

.mypage {
  display: flex;
  padding: 1rem 15rem;
}

.mypage__mystockinfo {
  width: 60%;
  min-width: 600px;
  max-width: 800px;
  height: cal(100vh-60px);
  background-color: white;
  flex-direction: column;
}

.mypage__myinfo {
  min-width: 500px;
  max-width: 500px;
  border: 1px solid lightgray;
  height: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.customer__info {
  width: calc(100%-20px);
  border-bottom: 1px solid lightgray;
  padding-bottom: 2rem;
}

.stock__info {
  width: calc(100%-20px);
}
