* {
  margin: 0;
}

.MyPage {
  display: flex;
}

.MyPage__mystockinfo {
  width: 60%;
  min-width: 600px;
  max-width: 800px;
  height: cal(100vh-60px);
  background-color: white;
  flex-direction: column;
}

.MyPage__myinfo {
  width: 40%;
  min-width: 300px;
  max-width: 500px;
  border: 1px solid lightgray;
  margin-top: 30px;
}

.customerinfo {
  width: calc(100%-20px);
  height: 400px;
}

.stockinfo {
  width: calc(100%-20px);
  height: 400px;
}
